@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
  
}

:root{
  --background-color: hsl(47, 88%, 63%);
  --text-color-grey: hsl(0, 0%, 50%);
  --text-color-black: hsl(0, 0%, 7%);
  --card-background-color: hsl(0, 0%, 100%);
  --text-font: 'Figtree', sans-serif;
}

body{
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 10% auto 10%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  
}
 

.container{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 369px;
    padding: 12px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 325px;
    height: 435px;
    background-color: var(--card-background-color);
    box-shadow: 10px 10px #000;
    position: relative;
}


.attribution {
  grid-row: 3/4;
  grid-column: 2/3;
  font-size: 11px; 
  text-align: center;
  justify-self: center;
  position: absolute; 
  bottom: -25px;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.card-img
{
  width: 100%;
  border-radius: 10px;
  /* margin-bottom: 10px; */

}

.title{
  font-size: 12px;
  width: 80px;
  height:25px;
  background-color: var(--background-color);
  text-align: center;
  line-height: 25px;
  border-radius: 5px;
  margin: 10px 0px 10px 0px ;
}

.date{
  font-size: 12px;
}

h2{
  margin: 15px 0px 10px 0px;
}
p{
  margin: 10px 0px 10px 0px;
  color: var(--text-color-grey);
  font-weight: 400;
  font-size: 14px;
}
.profile{
  display: inline-flex;
  align-items: center;
  
}

.profile-pic{
  width: 35px;
}
.profile > h4{
  padding-left: 20px;
}
h1{
  font-size: 25px;
}
h1:hover {
  color: yellow;
  cursor: pointer;
}